body 
{
    background-color: #ccc;
}

div#content
{
    background-color: #fff;
    width: 980px;
    padding: 30px;
    left: 50%;
    position: absolute;
    margin-left: -490px;
    top: 30px;
}

div.home_productSelect
{
    text-align: center;
}

td.default_rightCol
{
    width: 300px;
    border-left: 1px solid #999;
    padding-left: 20px;
}